/* You can add global styles to this file, and also import other style files */
.navbar-custom,header .intro-text .name {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
     background: #2C3E50;
    font-weight: 700;
    border: none;
    color:white;

}
body {
    background: #18bc9c;
}
navbar-brand
{
     color:white !important;
}